{
  "converse": {
    "default" : {
      "default": [ 
        "I have nothing to say to you."
      ]
    },
    "aegi" : {
      "default": [ 
        "Hi there."
      ],
      "generic": [ 
	  "I hope that you don't come here in the name of the Alliance.",
	  "What are you doing here? Are you lost?"
	  "This place is quite nice. It's relaxing, in a way. I mean, if you like rusty buildings.",
	  "Hey...? Sorry. I'm not used to meeting new people.",
	  "Have you ever visited Elithia? There's a few people from my family who still live here.",
	  "I was exiled from the Alliance. I can't visit my family anymore.",
	  "Welcome here, I guess.",
	  "This place is full of traders! Well, mostly weapon traders, but still...",
	  "We don't want you here.",
	  "I hate the fact that there's Akkimari here. That's why I had to leave the Alliance, I guess.",
	  "I heard that this station was built from the remains of a Centensian city.",
	  "I wonder if... No, it isn't important.",
	  "This is the first "Your Sanctuary" location. But it's mine now... Sorry, wrong game. I mean, wrong place.",
	  "The flowers in the garden are representative of those in your heart.",
	  "I'm a fan of ancient human culture. I mean, really, really ancient. It's oddly interesting.",
	  "I'm not a fan of the Avikan. They're coming to steal our jobs! We must build a wall. Or something.",
	  "I really need to sleep... There's no day or night here. And I don't have a watch...",
	  "You should take a break, next to the ones you love. It's still better than not having a home.",
	  "Excuse me? What did you just say about me? It's okay. That place isn't made for hate."

      ]
    },
    "trink" : {
      "default": [ 
        "Greetings."
      ],
      "generic": [ 
	  "I wanted to disconnect from the Circuit. It's such a boring thing.",
	  "I'm tired of efficiency. Why were we made with feelings, of not to truly feel the universe?",
	  "Oh, hey, welcome, I guess. Just don't stay for too long.",
	  "I came here because I refused to do a system update. The Circuit is doing questionable programming changes.",
	  "Do you ever think about death? It's scary.",
	  "I know some people from the Alliance that are making music. One of them claimed to be a telepath, but I can't really remember.",
	  "Hey! Stop looking at me like this. It's embarassing.",
	  "I came here for a deeper meaning. A meaning for our existence, as a species. Our creators left us in the dark.",
	  "There's someone at the highest levels who claims to know a lot about the Centens. Ask her if you want.",
	  "I'm scared of this mysterious Thelean that claims being able to hack and control Trink ships remotely.",
	  "Nobody can find us anymore! Well, as long as you have an onion to browse the giant network that the universe is.",
	  "The Circuit threw me away like a soulless machine. I came to Akeri to get my revenge.",
	  "Don't you feel it yet? There's something greater happening.",
	  "We don't care much about laws and rules here. We just try to be happy, and to find ourselves, before the past finds us."

      ]
    },
    "thelean" : {
      "default": [ 
        "..."
      ],
      "generic": [ 
	  "You probably don't care about me.",
	  "Go away. I'm the bad person here.",
	  "I never had a life apart from killing and destroying what isn't part of my nation.",
	  "I don't really want to talk with you.",
	  "You don't know what it feels to suffer because of the others.",
	  "I came here because I wanted some rest.",
	  "In a world where you cannot be kind, this is the only place where nobody will judge you for what you are.",
	  "My biggest dream is to be an artist. I just want to be someone else than a soldier.",
	  "I will not harm you. Not yet.",
	  "Hopefully, the Thelean Dominion didn't find this holy place. But they will, someday.",
	  "Once, I bowed down to an Avikan. And I gave him a flower from my home planet. They ran away, because of what I am.",
	  "There's no future, not like this. Maybe the Centens will give us the answer.",
	  "Creaton killed a thousand of my kind who dared standing in front of him, out of anger. Maybe we aren't very different?",
	  "If you were to think, like I did, maybe we could all live in peace. That is what the creator of this place wanted.",
	  "What if you were to put a gift of peace in the hands of each person of the universe? I don't really know what will happen. I am more a person of thoughts.",
	  "We... we should do something later, together. If you don't want to, it's fine. I tried, and it's what counts now. We are all alone, together."

      ]
    },
	    "avikan" : {
      "default": [ 
        "Hello...?"
      ],
      "generic": [ 
	  "Welcome to this station.",
	  "I'm not part of anything, not anymore. I am myself, and it's all that matters.",
	  "Sometimes, I think about my family. They are away from me now.",
	  "Time seems to go fast when you don't see it.",
	  "I was creating weapons for other people of my kind. But when you discover what people are using them for, it's another story.",
	  "I had to escape because I helped a wounded enemy. Such is life when you believe in yourself.",
	  "I'm a thief. The wrong person. But since nobody listened to me, that is what I became.",
	  "The Centens have created this sanctuary for the others to believe in them. They guided me to Akeri so I can truly see the truth.",
	  "This place needs more sand, but it isn't important when you see all the people.",
	  "There is an Aegi at the top who knows a lot about this place. She probably won't let you enter, though.",
	  "This place heals both the mind and the body for everyone. It allows thinking in different ways to find yourself.",
	  "When the Avikan first found it a hundred years ago, we kept it secret unless for the ones that protect our knowledge.",
	  "Sorry, but I am not a very funny person. Ask a Trink, they are really funny sometimes.",
	  "I am in peace with everyone now. I meet everyone here without hate, and they do the same. Isn't it wonderful?"

      ]
    },
  }
}